<!DOCTYPE html>
{% extends 'admin_page.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<body>

    <div style="margin-top: 30px;" class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
              <h5 class="mb-0">EDIT PRODUCTS</h5>
              <small class="text-muted float-end">Default label</small>
            </div>

            <div class="card-body">

                <form method="post" action="{% url 'update_product' data_id=p_data.id %}" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div style="width: 100%; padding:0;margin-bottom: 20px;" class="col-md-9 col-sm-9 col-xs-12">
                        <label class="form-label" for="basic-default-fullname">Category</label>
                        <select class="form-control" name="c_name">
                            <option>Select Category</option>
                            {% for i in data %}
                            <option>{{i.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">Product Name</label>
                        <input type="text" class="form-control" id="basic-default-fullname" placeholder="product name" name="p_name" value="{{p_data.p_name}}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">Product Quantity</label>
                        <input type="number" min="1" class="form-control" id="basic-default-fullname" placeholder="product quantity" name="p_qty" value="{{p_data.p_qty}}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">Product Price</label>
                        <input type="number" class="form-control" id="basic-default-fullname" placeholder="product price" name="p_price" value="{{p_data.p_price}}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="basic-default-message">Description</label>
                        <textarea style="height:100px;" id="basic-default-message" class="form-control" placeholder="description" name="p_description">{{p_data.description}}</textarea>
                    </div>
                    <div>
                        <img src="{{p_data.p_image.url}}" alt="">
                    </div>

                    <div class="mb-3">
                        <label for="formFile" class="form-label">Product Image</label>
                        <input class="form-control" type="file" id="formFile" name="p_image">
                    </div>

                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}